extends _partial/base.jade

block content
  #project
    // to avoid showing title on home page
    if page.cover
      .content-title #{page.title}
    content
      != page.content
    include _partial/social_footer
