@import '_helpers/colors';
@import '_helpers/constants';
@import '_helpers/fonts';
@import '_helpers/query';

@include fonts;

body {
  background: $background;
  margin: 8px 0;
}

#menu {
  margin: 0 0 $VERTICAL-SECTION-SPACING;
  @include media-query(TWO) {
    margin: $VERTICAL-SECTION-SPACING 0;
  }

  background: $menu;

  .menu-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    @include media-query(TWO) {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    @include media-query(BIG_MENU) {
      -webkit-justify-content: space-around;
      justify-content: space-around;
    }
  }

  .menu-container a {
    width: 100%;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
  }

  #menu-home {
    -webkit-flex-shrink: 0.88;
    flex-shrink: 0.88;
  }

  .menu-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    margin: 1px auto;
    @include media-query(TWO) {
      margin: 10px auto;
    }
  }
}

#main-div {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  align-content: center;

  .home-video-wrapper {
    float: right;
    max-width: 100%;
    margin-left: $HORIZONTAL-ITEM-SPACING;
  }

  .contact-image {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: $VERTICAL-SECTION-SPACING/4 0;
  }
}

#list .project-list-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  max-width: $one_column;
  @include media-query(TWO) {
    max-width: $two_columns;
  }
  @include media-query(THREE) {
    max-width: $three_columns;
  }

  img {
    border-radius: 5px;
    opacity: 1;
    transition: opacity $TRANSITION-PERIOD linear;

    &:hover {
      opacity: 0.5;
    }
  }

  .project-list-item {
    height: $LIST-IMAGE-HEIGHT;
    margin-bottom: $LIST-IMAGE-SPACING;
  }
}

#project {
  display: block;
  margin: 0 auto;

  max-width: $one_column;
  @include media-query(TWO) {
    max-width: $two_columns;
  }
  @include media-query(THREE) {
    max-width: $three_columns;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
  }

  .video-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 100%;
    margin: 1rem 0;
  }
}

#social-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  margin: $VERTICAL-SECTION-SPACING 0;
  @include media-query(TWO) {
    margin: $VERTICAL-SECTION-SPACING 0;
  }

  .social-icon {
    padding: 0 $HORIZONTAL-ITEM-SPACING/2;
    @include media-query(TWO) {
      padding: 0 $HORIZONTAL-ITEM-SPACING;
    }
  }
}
