@import '_helpers/colors';
@import '_helpers/constants';
@import '_helpers/fonts';
@import '_helpers/mixins';
@import '_helpers/query';

@include fonts;

body {
  background: $background;
  margin: 8px 0;
}

#menu {
  margin: 0 0 $VERTICAL-SECTION-SPACING;
  @include media-query(TWO) {
    margin: $VERTICAL-SECTION-SPACING 0;
  }

  background: $menu;

  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-query(TWO) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include media-query(BIG_MENU) {
      justify-content: space-around;
    }
  }

  .menu-item {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
  }
}

#main-div {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;

  .home-video-wrapper {
    float: right;
  }

  .contact-image {
    display: flex;
    justify-content: center;
    margin: $VERTICAL-SECTION-SPACING/4 0;
  }
}

#list .project-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: $one_column;
  @include media-query(TWO) {
    max-width: $two_columns;
  }
  @include media-query(THREE) {
    max-width: $three_columns;
  }

  img {
    border-radius: 5px;
  }
}

#project {
  display: block;
  margin: 0 auto;

  max-width: $one_column;
  @include media-query(TWO) {
    max-width: $two_columns;
  }
  @include media-query(THREE) {
    max-width: $three_columns;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
  }

  .video-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 1em 0;
  }
}

#social-footer {
  display: flex;
  justify-content: space-around;

  margin: $VERTICAL-SECTION-SPACING $HORIZONTAL-ITEM-SPACING 0;
  @include media-query(TWO) {
    margin: $VERTICAL-SECTION-SPACING 2*$HORIZONTAL-ITEM-SPACING 0;
  }
}
