$BACKGROUND-COLOR: rgba(244,244,244,1);
$MENU-COLOR: darken($BACKGROUND-COLOR, 10%);
$MENU-COLOR-HOVER: darken($BACKGROUND-COLOR, 20%);

$TEXT-COLOR-BASE: rgba(0,0,0,1);
$TITLE-COLOR: lighten($TEXT-COLOR-BASE, 10%);
$TEXT-COLOR: lighten($TEXT-COLOR-BASE, 33%);

$ACCENT-COLOR-BASE: rgba(0,0,130,1);
$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($ACCENT-COLOR-BASE, 50%);

$DESKTOP-WIDTH-SITE: 1280px;

$LIST-IMAGE-WIDTH: 300px;
$LIST-IMAGE-HEIGHT: 150px;
$LIST-IMAGE-SPACING: 10px;
$LATERAL-PAGE-SPACE: 30px;
$MENU-HEIGHT: 80px;

$VERTICAL-SECTION-SPACING: 40px;
$HORIZONTAL-ITEM-SPACING: 25px;

$TRANSITION-PERIOD: 0.25s;

$ONE-COLUMN: $LIST-IMAGE-WIDTH;
$TWO-COLUMNS: (2 * $LIST-IMAGE-WIDTH) + (1 * $LIST-IMAGE-SPACING);
$THREE-COLUMNS: (3 * $LIST-IMAGE-WIDTH) + (2 * $LIST-IMAGE-SPACING);

@mixin media-query($canvas) {
  @if $canvas == TWO {
   @media only screen and (min-width: $TWO-COLUMNS) { @content; }
  }
  @else if $canvas == THREE {
   @media only screen and (min-width: $THREE-COLUMNS) { @content; }
  }
}
