$background: rgba(244,244,244,1);
$menu: darken($background, 10%);
$menu-over: darken($background, 20%);

$text-base: rgba(0,0,0,1);
$text-color: lighten($text-base, 33%);
$title-color: lighten($text-base, 10%);

$accent-base: rgba(0,0,0,1);
$link-color: $accent-base;
$link-color-visited: $accent-base;
$link-color-hover: lighten($accent-base, 50%);
