$DESKTOP-WIDTH-SITE: 1280px;
$COLUMNS-QUANTITY: 5;
$COLUMN-WIDTH: $DESKTOP-WIDTH-SITE/$COLUMNS-QUANTITY;

$LIST-IMAGE-WIDTH: 300px;
$LIST-IMAGE-SPACING: 10px;
$LATERAL-PAGE-SPACE: 30px;

$VERTICAL-SECTION-SPACING: 40px;
$HORIZONTAL-ITEM-SPACING: 25px;