@import 'query';
@import 'colors';

$family-serif: 'Merriweather', 'Times New Roman';
$family-sans: 'Merriweather Sans', Arial;

$text-size: 1rem;
$menu-size: 1.5rem;
$menu-size-small: 1.3rem;
$project-title-size: 1.5rem;
$detail-size: 1.1rem;

@mixin fonts {
  html {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media-query(TWO){
      font-size: 16px;
    }
  }

  body {
    font: $family-serif;
    color: $text-color;
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.17rem; }
  h4 { font-size: 1.12rem; }
  h5 { font-size: .83rem; }
  h6 { font-size: .75rem; }

  p {
    font: $family-serif;
    word-spacing: 2px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration:line-through;
  }

  a {
    font: bold $detail-size $family-sans;
    text-decoration: none;
    color: $link-color;
    cursor: pointer;
    text-transform: uppercase;

    &:visited {
      color: $link-color-visited;
    }

    &:hover {
      color: $link-color-hover;
    }
  }

  #menu a {
    font-size: $menu-size-small; // $family-serif; ??
    @include media-query(BIG_MENU){
      font-size: $menu-size; // $family-serif; ??
    }
  }

  .content-title {
    font: bold $project-title-size $family-sans;
    color: $title-color;
  }

  #list .content-title {
    text-transform: uppercase;
  }

  .social-icon a {
    font-size: 2.5em;
    @include media-query(TWO){
      font-size: 3em;
    }
  }
}
