@import 'constants';

$one_column: $LIST-IMAGE-WIDTH;
$two_columns: (2 * $LIST-IMAGE-WIDTH) + (1 * $LIST-IMAGE-SPACING);
$big_menu: (1280px / 7) * 4;
$three_columns: (3 * $LIST-IMAGE-WIDTH) + (2 * $LIST-IMAGE-SPACING);

@mixin media-query($canvas) {
  @if $canvas == TWO {
   @media only screen and (min-width: $two_columns) { @content; }
  }
  @else if $canvas == BIG_MENU {
   @media only screen and (min-width: $big_menu) { @content; }
  }
  @else if $canvas == THREE {
   @media only screen and (min-width: $three_columns) { @content; }
  }
}
