doctype html
html
  head
    include head
    include meta
  body
    // include menu_mobile
    include page_header
    block content
    include social_footer
    block footer
      #footer
        p Thiago Hersan
