block title
  title #{page.title}
block description
  meta(name="description" content="#{page.title}: #{page.description}")

meta(charset="utf-8")
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(href='//fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:800,300,900', rel='stylesheet', type='text/css')
