#menu
  .menu-container
    .menu-item
      a(href="/") #{config.title}
    .menu-item
      a(href="/projects/") ######
    .menu-item
      a(href="/collaborations/") <3<3<3
    .menu-item
      a(href="/contact/") @@@@@@
