#menu
  .menu-container
    a#menu-home(href="/")
      .menu-item #{config.title}
    a#menu-projects(href="/projects/")
      .menu-item ######
    a#menu-collaborations(href="/collaborations/")
      .menu-item <3<3<3
    a#menu-contact(href="/contact/")
      .menu-item @@@@@@
